.nav-wrapper {
  background-color: #121212;
  font-family: 'Crimson Text', serif;
  font-weight: bold;
  padding-left: 140px;
  padding-right: 140px;
  border-bottom: 1px solid #2c2c2c;
  height: auto;
}

.lol-logo {
  font-size: 22px;
}

nav > div > a > img {
  margin-bottom: 15px;
}

nav > div > ul > li > a{
  color: #c9aa71;
}

nav > div > ul > li > a:hover {
  color: #f1e6d0;
}

#button {
  color: rgba(193,247,246,0.9);
  background-color: rgba(30,35,40,0.6);
  border: 1px outset  rgba(193,247,246,0.9);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 4px;
}

#button:hover {
  color: rgb(215, 247, 246, 1);
  box-shadow: 0 5px 15px rgba(23, 46, 59, 0.9);
  border: 1px outset  rgba(200,247,246,1);
}

#line {
  border-left: 2px solid #2c2c2c;
  padding: 8px 0px;
}